@tailwind base;
@tailwind components;
@tailwind utilities;

.media-player {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.video {
  display: block;
  width: 100%;
  height: auto;
}

.media-player-container {
  background: linear-gradient(to right, #3c366b, #5c6ac4, #9333ea);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.media-player-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}